{%extends 'frontend/base.html'%}
{%load static%}
{% block body %}

<section id="zero">
    <div class="carousel-item active" style="background-image: url({% static 'assets/img/carosel-img/about.png' %}); background-size: cover; height: auto;">
      <div class="carousel-container">
        <div class="container">
          <h2 class="animate__animated animate__fadeInDown study">About Us</h2>
        </div>
      </div>
    </div>
</section>

<main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row content">
          <div class="">
            <h2>Welcome to AIEC</h2>
          </div>
          <div class=" pt-4 pt-lg-0" style="text-align: justify; line-height: 30px;">
            <p>
              Aarav International Education Consultancy Pvt. Ltd. (AIEC) trading as AIEC is one of the leading education and career consultants in Nepal which aims to support Nepalese students to access the globally recognized degrees on abroad. The company is established under the Company Act, 2006 of Government of Nepal & it is incorporated on 22nd of March 2021 with the registration no. 259929/077/078 & head office in Koteshwor,  Kathmandu-32, Nepal. 
              It is established by the certified & qualified counselors with the decades long industry experience in the student recruitment process for the different countries like Australia, Japan, New Zealand, USA, Canada, UK, and Europe. We also prepare students to get the required scores in different tests like IELTS, GRE, GMAT, SAT, TOEFL, OET and Japanese Language with the well-equipped classes, best instructors & mock tests.
              <br>We do student, dependent & visitor visas and we also support the students with the internship placements on abroad and required part-time job trainings. We do support for consultation, admission, documentation, interview & visa. 
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Mission & Vision ======= -->
    <section id="mission" class="mission">
      <div class="container">

        <div class="section-header">
          <h2 style="font-weight: 700;
          font-size: 42px;
          line-height: 60px; margin-bottom: 40px;">Our Mission, Vision and Goal</h2>
        </div>

        <div class="row" style="text-align: justify;">
          <div class="col-xl-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon">
                <img src="{% static 'assets//img/mission-vision-img/mission1.png' %}" alt="">
              </div>
              <h4><a href="#">Mission</a></h4>
              <p>AIEC mission is to guide the students from the first stage to the final stage in the process of leading them to their education destination.</p>
            </div>
          </div>

          <div class="col-xl-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon">
                <img src="{% static 'assets//img/mission-vision-img/vision.png' %}" alt="">
              </div>
              <h4><a href="">Vision</a></h4>
              <p>AIEC wants to be a quality global service provider to the students who desire and dream to study abroad.
              </p>
            </div>
          </div>

          <div class="col-xl-4 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon">
                <img src="{% static 'assets//img/mission-vision-img/leadership.png' %}" alt="">
              </div>
              <h4><a href="">Our Goal</a></h4>
              <p>The goal of AIEC is to serve the students locally and internationally and expand its services worldwide.

              </p>
            </div>
          </div>

        </div>

      </div>
    </section>
    <!-- ======= End of Mission & Vision Section======= -->


    <!-- ======= What Makes Us The Best ======= -->
    <section id="mission" class="mission">
      <div class="container">

        <div class="section-header">
          <h2 style="font-weight: 700;
          font-size: 42px;
          line-height: 60px; margin-bottom: 40px;">WHAT MAKES US THE BEST ?</h2>
        </div>

        <div class="row">
          <div class="col-xl-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
            <div class="icon-box">
              <div class="icon">
                <img src="{% static 'assets//img/makesbest-img/conversation.png' %}" alt="">
              </div>
              <h4><a href="#">Supervisor Counceling</a></h4>
              <p style="text-align: justify;">Our counselling is focused on planning the best career for you rather than just fining the right course & university.
              </p>
            </div>
          </div>

          <div class="col-xl-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon">
                <img src="{% static 'assets//img/makesbest-img/rating.png' %}" alt="">
              </div>
              <h4><a href="">High Visa Success</a></h4>
              <p style="text-align: justify;">We are regularly updated with the recent visa changes and regularly provide our students with updates thus our knowledge of documentation is superior.
              </p>
            </div>
          </div>

          <div class="col-xl-4 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon">
                <img src="{% static 'assets//img/makesbest-img/image 5 (1).png' %}" alt="">
              </div>
              <h4><a href="">Receive Personal Attention</a></h4>
              <p style="text-align: justify;">At AIEC we strive to give wholehearted personal attention to every single student in friendly manner. Our staff members are flexible in time and take assignments that best suit yours. We enjoy our work and give highest importance to your requirements.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ======= End of What Makes Us The Best======= -->
    

  </main><!-- End #main -->

{%endblock%}