{% extends "frontend/base.html" %}
{% load static %}

{% block body %}
  

<section id="zero">
    <div class="carousel-item active" style="background-image: url({% static 'assets/img/blog/carosel.jpg' %}); background-size: cover; height: auto;">
      <div class="carousel-container">
        <div class="container">
          <h2 class="animate__animated animate__fadeInDown study">Downloads</h2>
        </div>
      </div>
    </div>
</section>

  <main id="main">

    <!-- ======= Explore Study ======= -->

    <section id="explore-study" class="explore-study pt-0">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2 style="font-weight: 700;
            font-size: 42px;
            line-height: 60px; margin-bottom: 40px;"></h2>

            </div>
            <div class="row gy-4" style="text-align: justify;">
                {% for cat in category %}
                
                    <div class="col-lg-3 col-md-4"><a href="{% url 'frontend:downloads_details' cat.name %}">
                        <div class="card text-center"> 
                        <a href="{% url 'frontend:downloads_details' cat.name %}"  style="cursor: pointer; background:#02044C;padding:10px;color:white; border-radius: 3px;font-size: 14px;">
                            {{cat.name}}
                        </a>
                    </div>
                </a>
            </div>
                {% endfor %}
                
            </div>
            
        </div>
    </section>
    


  </main><!-- End #main -->



{% endblock body %}